config/nodered/flow.json
[{"id":"ccf16126.6fa57","type":"tab","label":"Flow 1"},{"id":"fd77464a.9ba488","type":"http in","z":"ccf16126.6fa57","name":"test","url":"/test","method":"get","upload":false,"swaggerDoc":"","x":410,"y":160,"wires":[["f5149ecc.219bc"]]},{"id":"fe184750.302918","type":"http response","z":"ccf16126.6fa57","name":"test response","statusCode":"200","headers":{},"x":980,"y":160,"wires":[]},{"id":"f5149ecc.219bc","type":"sc-extract-call","z":"ccf16126.6fa57","contract":"LOCManager","contractFunction":"getLOCById","args":["12","564"],"name":"LOCManager hardcoded","x":690,"y":160,"wires":[["fe184750.302918"]]},{"id":"6a5f410e.b42d7","type":"http in","z":"ccf16126.6fa57","name":"","url":"/test2","method":"get","upload":false,"swaggerDoc":"","x":390,"y":420,"wires":[["c4f4d8a9.06e0b8"]]},{"id":"2db52c44.b70214","type":"sc-extract-call","z":"ccf16126.6fa57","contract":"LOCManager","contractFunction":"getLOCById","args":[],"name":"LOCManager","x":800,"y":420,"wires":[["4b934498.11524c"]]},{"id":"c4f4d8a9.06e0b8","type":"function","z":"ccf16126.6fa57","name":"convert args","func":"\nlet args = msg.req.query.args;\nmsg.payload = {args};\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":420,"wires":[["2db52c44.b70214","e0bcd946.46ef48"]]},{"id":"4b934498.11524c","type":"http response","z":"ccf16126.6fa57","name":"","statusCode":"","headers":{},"x":1010,"y":420,"wires":[]},{"id":"e0bcd946.46ef48","type":"debug","z":"ccf16126.6fa57","name":"","active":true,"console":"true","complete":"payload","x":733,"y":380,"wires":[]},{"id":"a0996092.b8dc3","type":"http in","z":"ccf16126.6fa57","name":"","url":"/test3","method":"get","upload":false,"swaggerDoc":"","x":230,"y":700,"wires":[["1ceb17d6.2e3168","240fbf04.f3af3"]]},{"id":"dd8dafea.888d7","type":"sc-extract-call","z":"ccf16126.6fa57","contract":"LOCManager","contractFunction":"getLOCById","args":[],"name":"LOCManager","x":800,"y":640,"wires":[["64ed75bc.933d8c"]]},{"id":"1ceb17d6.2e3168","type":"function","z":"ccf16126.6fa57","name":"convert args for first contract","func":"\nmsg.payload.args = msg.req.query.args1;\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":700,"wires":[["1971213d.3c0cff","dd8dafea.888d7"]]},{"id":"d76172f9.a078f","type":"http response","z":"ccf16126.6fa57","name":"","statusCode":"","headers":{},"x":1330,"y":660,"wires":[]},{"id":"1971213d.3c0cff","type":"debug","z":"ccf16126.6fa57","name":"","active":true,"console":"true","complete":"payload","x":740,"y":560,"wires":[]},{"id":"64ed75bc.933d8c","type":"join","z":"ccf16126.6fa57","name":"combiner","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","x":1180,"y":660,"wires":[["d76172f9.a078f"]]},{"id":"240fbf04.f3af3","type":"function","z":"ccf16126.6fa57","name":"convert args for second contract","func":"\nmsg.payload.args = msg.req.query.args2;\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":760,"wires":[["2c0734be.c2399c"]]},{"id":"2c0734be.c2399c","type":"sc-extract-call","z":"ccf16126.6fa57","contract":"LOCManager","contractFunction":"getLOCById","args":[],"name":"LOCManager","x":820,"y":780,"wires":[["64ed75bc.933d8c"]]}]